/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.6;
}

/* Navigation styles */
nav {
    background-color: #ffffff;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

nav .logo {
    color: #333;
    font-size: 1.4rem;
    text-decoration: none;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-left: 2rem;
}

nav a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

nav a:hover {
    color: #007BFF;
}

/* Main styles */
main {
    text-align: center;
}

/* Form styles */
form {
    max-width: 600px; /* Increase the max-width */
    margin: 2rem auto;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input[type="file"],
input[type="date"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1rem;
    transition: border-color 0.3s;
}

input[type="file"]:focus,
input[type="date"]:focus {
    border-color: #007BFF;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1.1rem;
}

button:hover {
    background-color: #0056b3;
}

/* Drag and Drop styles */
.drag-drop-area {
    width: 100%;
    max-width: 600px;
    height: 200px;
    margin: 2rem auto;
    padding: 1rem;
    border: 2px dashed #007BFF;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #007BFF;
    font-size: 1.2rem;
    transition: border-color 0.3s;
}

.drag-drop-area:hover {
    border-color: #0056b3;
}

.drag-drop-area.active {
    border-color: #28a745;
    background-color: #e9ecef;
}
